.advantages {
  background-color: #f8f9fc;
}

.advantages__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 97px 69px 146px 78px;

  @media (max-width: 1199px) {
    max-width: 850px;
    padding: 93px 45px;
  }

  @media (max-width: 767px) {
    width: 100%;
    padding: 64px 0 63px;
  }
}

.advantages__title {
  margin-bottom: 40px;

  @media (max-width: 1199px) {
    margin-bottom: 35px;
    margin-left: -22px;
  }
}

.advantages__wrapper {
  @media (max-width: 767px) {
    width: 100%;
  }
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr 240px 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 60px;

  @media (max-width: 1199px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content max-content 1fr;
    gap: 29px;
    justify-items: center;
  }

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }

}

.advantages__item {
  display: flex;

  &:nth-last-child(-n+2) {
    margin-top: 62px;
  }

  @media (max-width: 1199px) {
    &:nth-last-child(-n+2) {
      margin-top: 6px;
    }
  }

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;

    padding-left: 46px;
    padding-right: 46px;

    &:last-child {
      margin-top: -3px;
    }
  }
}

.advantages__item--central {
  grid-column: 2 / 3;
  grid-row: 1 / -1;

  flex-direction: column;
  align-items: center;

  margin-top: 14px;
  margin-bottom: 27px;
  padding: 52px 34px 58px;

  background-color: #1c3374;

  @media (max-width: 1199px) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    justify-self: center;

    width: 442px;
    margin-top: 13px;
    margin-bottom: 0;
    padding: 39px 36px 39px 31px;
  }

  @media (max-width: 767px) {
    width: 100%;
    padding: 44px 36px 43px 31px;
  }
}

.advantages__item--central {
  position: relative;

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: -400px;

    width: 340px;
    height: 2px;
    background-color: rgba(209, 10, 66, 0.2);

    transform: translateY(-50%);
  }

  &::after {
    content: "";

    position: absolute;
    top: 50%;
    right: -400px;

    width: 340px;
    height: 2px;
    background-color: rgba(209, 10, 66, 0.2);

    transform: translateY(-50%);
  }

  @media (max-width: 1199px) {

    &::before,
    &::after {
      display: none;
    }
  }
}

.advantages__index {
  margin-right: 29px;

  @media (max-width: 767px) {
    margin-right: 0;
  }
}

.advantages__number {
  display: block;

  font-size: 71px;
  line-height: 78px;
  font-weight: 700;

  background-color: #0041ca;
  background-image: linear-gradient(142.51deg, #D10A42 0%, #0041CA 87.33%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (max-width: 1199px) {
    margin-top: -7px;

    font-size: 58px;
    line-height: 87px;
  }
}

.advantages__number--central {
  margin-left: -7px;
  background-color: #ffffff;
  background-image: none;

  @media (max-width: 1199px) {
    margin-left: 0;

    font-size: 74px;
    line-height: 76px;
  }
}

.advantages__value {
  display: block;

  margin-top: -8px;

  font-size: 14px;
  line-height: 21px;
  color: #2e35ac;
  text-transform: lowercase;

  @media (max-width: 1199px) {
    margin-top: -20px;
  }

  @media (max-width: 767px) {
    text-align: center;
  }
}

.advantages__description-wrapper {
  margin-top: 7px;

  @media (max-width: 767px) {
    text-align: center;
  }
}

.advantages__index-title {
  margin: 0;
  margin-bottom: 5px;

  font-size: 22px;
  line-height: 33px;
  font-weight: 700;

  @media (max-width: 1199px) {
    margin-bottom: 3px;
    font-size: 20px;
    line-height: 30px;
  }
}

.advantages__index-title--central {
  margin-bottom: 32px;

  font-size: 26px;
  line-height: 39px;
  color: #ffffff;

  @media (max-width: 1199px) {
    margin-top: -1px;
    margin-bottom: 13px;

    font-size: 22px;
    line-height: 33px;
  }

  @media (max-width: 767px) {
    margin-top: -7px;
    margin-bottom: 9px;
    margin-left: 4px;
  }
}

.advantages__description {
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
}

.advantages__description--central {
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;

  @media (max-width: 1199px) {
    width: 80%;
  }
}
