.coaches {
  margin-bottom: 140px;

  @media (max-width: 1199px) {
    margin-bottom: 99px;
  }

  @media (max-width: 767px) {
    margin-bottom: 70px;
  }
}

.coaches__container {
  position: relative;

  width: 100%;
  max-width: 1366px;
  margin: 0 auto;

  @media (max-width: 1199px) {
    max-width: 100%;
  }

  @media (max-width: 767px) {}
}

.coaches__title {
  width: 84.6%;
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 48px;

  @media (max-width: 1199px) {
    max-width: 100%;
    margin-bottom: 31px;

    text-align: center;
  }

  @media (max-width: 767px) {
    margin-bottom: 42px;
  }
}

.coaches__slider {
  width: 84.9%;
  max-width: 1160px;
  height: 21.5;
  margin: 0 auto;

  @media (max-width: 1199px) {
    width: 73.9%;
    max-width: 997px;
    margin: 0 auto;
  }

  @media (max-width: 767px) {
    width: 70.9%;
    max-width: 673px;
  }
}

.coaches__list {}

.coaches__item {
  position: relative;
  z-index: 10;

  height: 21.5;

  cursor: pointer;

  // transform-style: preserve-3d;
  // perspective: 1000px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:hover,
  &:focus-within {
    .coaches__front-wrapper {
      z-index: 1;
      // transform: rotateY(180deg);
    }

    .coaches__front-wrapper h3 {
      display: none;
    }

    .coaches__card {
      z-index: 10;
      // transform: rotateY(360deg);
    }
  }

  @media (max-width: 1199px) {
    height: 38.4vw;
  }

  @media (max-width: 767px) {
    height: 85.4vw;
  }
}

.coaches__front-wrapper {
  backface-visibility: hidden;
  transition-duration: 1s;

  width: 100%;
  height: 100%;
}

.coaches__front-wrapper h3 {
  position: absolute;
  bottom: 24px;
  left: 50%;

  width: max-content;
  margin: 0;

  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  color: #ffffff;

  transform: translateX(-50%);
}

.coaches__front-wrapper img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.coaches__card {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 51px 0px 50px 0px;

  color: #ffffff;

  background-color: rgba(16, 38, 84, 0.89);

  // transition-duration: 1s;
  // transform: rotateY(180deg);
  // backface-visibility: hidden;

  @media (max-width: 767px) {
    padding: 41px 0px 41px 0px;
  }
}

.coaches__card-wrapper {
  width: 160px;

  overflow-y: scroll;
}

.coaches__card span {
  display: block;
  margin-left: 7px;

  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  text-align: center;
}

.coaches__card h4 {
  margin: 0;
  margin-bottom: 34px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #b6bdcc;
  text-align: center;
}

.coaches__card-list {
  padding-left: 17px;
}

.coaches__card li {
  position: relative;
  margin-bottom: 13px;

  font-size: 14px;
  line-height: 21px;

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: -16px;

    width: 6px;
    height: 6px;
    border-radius: 50%;

    background-color: #ffffff;
  }
}

.coaches__toggles {
  position: absolute;
  top: 50%;

  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 0 40px;

  transform: translateY(-50%);

  @media (max-width: 767px) {
    padding: 0 8px;
  }
}

.coaches__toggle {
  display: flex;
  justify-content: center;

  border: none;
  background-color: transparent;

  cursor: pointer;

  & svg {
    stroke: #afafaf;
  }

  &--prev {
    transform: rotate(180deg);
  }

  &:hover svg {
    stroke: #000000;
  }

  @media (max-width: 767px) {
    & svg {
      width: 10px;
      height: 19px;
    }
  }
}
