.header {
  background: conic-gradient(from 150.87deg at 16.03% 39.06%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);

  @media (max-width: 767px) {
    background: conic-gradient(from 167.26deg at 35.31% 34.22%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
  }
}

.header__container {
  padding-top: 30px;

  @media (max-width: 1199px) {
    padding-top: 35px;
  }

  @media (max-width: 767px) {
    padding-top: 15px;
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;

  margin-bottom: -74px;

  @media (max-width: 1199px) {
    flex-wrap: wrap;
    align-items: center;

    margin-bottom: 15px;
  }

  @media (max-width: 767px) {
    margin-bottom: 25px;
  }
}

.header__logo {
  display: block;
  width: 122px;
  height: 44px;

  @media (max-width: 1199px) {
    width: 82px;
    height: 17px;
  }

  @media (max-width: 767px) {
    width: 69px;
    height: 24px;
  }
}

.header__logo-icon {
  fill: $color-default-white;

  &:hover {
    fill: #c48e99;
  }

  @media (max-width: 1199px) {
    width: 81px;
    height: 17px;
  }

  @media (max-width: 767px) {
    width: 69px;
    height: 24px;
  }
}

.header__phone {
  display: block;
  height: 32px;

  font-family: $ff-second-font;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: $color-default-white;
  text-align: right;

  &:hover {
    color: #95acc6;
  }

  @media (max-width: 1199px) {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
  }

  @media (max-width: 767px) {
    height: 24px;

    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
}
