.reviews {}

.reviews__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 67px;
  padding-bottom: 120px;

  @media (max-width: 1199px) {
    padding-top: 43px;
    padding-bottom: 99px;
  }

  @media (max-width: 767px) {
    padding-top: 14px;
    padding-bottom: 70px;
  }
}

.reviews__title {
  margin-bottom: 37px;
  margin-left: 9px;

  @media (max-width: 1199px) {
    margin-bottom: 40px;
    margin-left: -5px;
  }

  @media (max-width: 767px) {
    margin-bottom: 42px;
    margin-left: -3px;
  }
}

.reviews__slider-button-wrapper {
  position: relative;
  width: 560px;

  @media (max-width: 1199px) {
    width: 83.5%;
    max-width: 665px;
  }

  @media (max-width: 767px) {
    width: 77.6%;
  }
}

.reviews__wrapper {
  width: 100%;
  padding: 54px 62px 57px 62px;

  background-color: #1c3374;

  box-shadow: 0px 0px 40px rgba(28, 51, 116, 0.2);

  @media (max-width: 1199px) {
    padding-left: 65px;
  }

  @media (max-width: 767px) {
    padding: 40px 25px 18px 25px;
    justify-items: center;
  }
}

.reviews__item {
  display: grid;
  grid-template-columns: 80px auto;
  column-gap: 28px;
  row-gap: 13px;

  color: #ffffff;

  @media (max-width: 767px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 15px;
  }
}

.reviews__item picture {
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  display: block;

  margin-top: 8px;

  @media (max-width: 767px) {
    grid-row: 1 / 2;

    margin-top: 0;
    margin-left: auto;
  }
}

.reviews__item img {
  border-radius: 50%;

  @media (max-width: 767px) {
    width: 68px;
    height: 68px;
  }
}

.reviews__name {
  margin: 0;

  font-size: 20px;
  line-height: 30px;
  font-weight: 700;

  @media (max-width: 767px) {
    margin-top: 8px;
    margin-right: auto;
    margin-left: 5px;

    line-height: 26px;
  }
}

.reviews__review {
  grid-column: 2 / 3;
  margin: 0;

  font-size: 16px;
  line-height: 22px;

  @media (max-width: 767px) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;

    text-align: center;
  }
}

.reviews__toggles {
  position: absolute;
  top: 122px;

  display: flex;
  justify-content: space-between;

  width: 122%;
  left: 50%;

  transform: translate(-50%, -50%);

  @media (max-width: 767px) {
    top: 50%;
    width: 134%;
  }
}

.reviews__toggle {
  display: flex;
  justify-content: center;
  border: none;

  background-color: transparent;

  cursor: pointer;

  & svg {
    stroke: #afafaf;
  }

  &--prev {
    transform: rotate(180deg);
  }

  &:hover svg {
    stroke: #000000;
  }

  @media (max-width: 767px) {
    & svg {
      width: 10px;
      height: 19px;
    }
  }
}

.swiper-button-disabled {
  opacity: 0;
  cursor: default;
}
